body {
    font-family: "Yeon Sung", system-ui;
    font-weight: 600;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 9;
    background-color: white;
    border-bottom: 1px solid pink;
}

.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

header > .inner {
    height: 120px;
    background-color: rgb(253, 217, 223);
}

header .logo > img {
    width: 100px;
    height: 100px;
}

header .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    cursor: pointer;
}

header .sub-menu {
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
}

header .sub-menu .list {
    display: flex;
}

header .sub-menu .list li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

header .sub-menu .list li::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 16px;
    background-color: black;
    transform: translateX(-10px);
}

header .sub-menu .list li:first-child::before {
    display: none;
}

header .sub-menu .search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

header .sub-menu .search input {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: .6s;
}

header .sub-menu .search input:focus {
    width: 180px;
}

header .sub-menu .search .material-icons {
    position: absolute;
    left: 7px;
}

header .sub-menu .search.focused .material-icons {
    display: none;
}

.banners {
    position: fixed;
    top: 132px;
    right: 15px;
}

.banners img {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.banners .banner1 img {
    width: 180px;
    height: 220px;
}

.banners .banner2 img {
    width: 180px;
}

header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
}

header .main-menu > ul {
    display: flex;
}

header .main-menu .item {
    display: flex;
}

header .main-menu .item .item__name {
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header .main-menu .item:hover .item__name {
    color: rgb(253, 217, 223);
    background-color: black;
}

header .main-menu .item .item__contents{
    display: none;
    position: fixed;
    width: 100%;
    top: 120px;
    left: 0;
    background-color: black;
}

header .main-menu .item:hover .item__contents{
    display: block;
}

header .main-menu .item .item__contents .contents_texture {
    background-image: url(./images/pink_bg.png);
}

header .main-menu .item .item__contents .contents_texture h4 {
    padding: 10px 0;
}

header .main-menu .item .item__contents .contents_texture p {
    padding-bottom: 5px;
}

header .main-menu .item .item__contents .contents_list > ul {
    padding: 20px;
    display: flex;
}

header .main-menu .item .item__contents .contents_list > ul li {
    width: 240px;
    text-align: center;
}

header .main-menu .item .item__contents .contents_list > ul li > h4{
    color: white;
    font-size: 28px;
    padding: 15px 0;
}

header .main-menu .item .item__contents .contents_list > ul li > h4:hover{
    color: yellow;
}

header .main-menu .item .item__contents .contents_list > ul li > ul li:hover{
    color: yellow;
}

header .main-menu .item .item__contents .contents_list > ul li > ul li {
    color: white;
    padding: 5px 0;
}

.visual {
    background-size: cover;
    background-image: url(./images/pink_bg.png);
    margin-top: 120px;
}

.visual > .inner {
    height: 646px;
}

.visual .text {
    position: absolute;
    left: -30px;
    top: -30px;
    width: 350px;
    height: 300px;
}

.visual .image1 {
    position: absolute;
    right: 20px;
    top: 40px;
}

.visual .image2 {
    position: absolute;
    top: 160px;
    left: 200px;
}

.visual .image3 {
    position: absolute;
    top: 200px;
    left: 80px;
}

.visual .image4 {
    position: absolute;
    bottom: -20px;
    width: 220px;
    height: 300px;
}

.visual .image5 {
    position: absolute;
    bottom: 20px;
    left: 200px;
    width: 220px;
    height: 300px;
}

.visual .arrow {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 300px;
    top: 80px;
}

.visual .btn.btn--pink {
    position: absolute;
    top: 55px;
    left: 350px;
}

.fade-in {
    opacity: 0;
}

.btn {
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    border: 2px solid black;
    color: black;
    text-align: center;
    border-radius: 5px;
    transition: 0.6s;
    z-index: 10;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn.btn--pink {
    color: black;
    border-color: black;
}


.btn.btn--pink:hover {
    color: pink;
    background-color: black;
}

.notice {
    position: relative;
}

.notice .bg-left {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: black;
    left: 0;
}


.notice .bg-right {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    right: 0;
}

.notice > .inner {
    height: 62px;
    display: flex;
}

.notice .inner__left {
    width: 70%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .inner__right {
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .inner__right h2 {
    margin-right: 20px;
}

.notice .inner__right .material-icons {
    font-size: 30px;
    cursor: pointer;
}


.notice .inner__left .swiper {
    height: 62px;
    flex-grow: 1;
}

.notice .inner__left h2 {
    color: white;
    margin-right: 20px;
}

.notice .inner__left .notice_circle {
    width: 62px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .inner__left .notice_circle .material-icons {
    color: white;
    font-size: 30px;
}

.notice .swiper .swiper-slide {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion {
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    overflow: hidden;
}

.promotion .swiper {
    height: 450px;
    width: calc(700px * 3 + 10px * 2);
    flex-shrink: 0;
}

.promotion.hide {
    display: none;
}

.promotion .swiper-slide img {
    height: 450px;
    width: 700px;
    object-position: center;
}

.promotion .swiper-slide {
    position: relative;
    opacity: .5;
    transition: opacity 1s;
}

.promotion .swiper-slide-active {
    opacity: 1;
}

.promotion .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

.promotion .swiper-pagination-bullet-active {
    background-image: url(./images/promotion_slide_pager_on.png);
    background-color: transparent;
}

.promotion .swiper-pagination {
    bottom: 40px !important;
}

.promotion .swiper-button-prev, .promotion .swiper-button-next {
    top: 75%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
}

.promotion .swiper-button-prev::after, .promotion .swiper-button-next::after{
    display: none;
}

.promotion .swiper-button-prev:hover , .promotion .swiper-button-next:hover {
    color: white;
    background-color: black;
}

.promotion .swiper-button-prev {
    left: 28%;
}
.promotion .swiper-button-next {
    right: 28%;
}

.promotion .swiper-slide .btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}